* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --cor-primaria: #050658;
    --cor-secundaria: #410464;
    --neutro: #c1f6ff;
    --preto: #061158;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: 'Numans', sans-serif;
    --degrade-azul: linear-gradient(180deg, #000000 0%, #6fa7e7 100%);
}


body {
    background: var(--degrade-azul);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    background-color: var(--neutro);
    margin-top: 30px;
    margin-bottom: 80px;

    display: flex;
    flex-direction: column;
    gap: 24px;


    width: 440px;
    padding: 56px;


    align-items: center;
    border-radius: 16px;
}


h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}


hr {
    border: none;
    border-bottom: 3px dotted var(--cor-primaria);
    margin-bottom: 24px;
}


p {
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.input-item {
    display: block;
    padding: 12px 16px;
    border-radius: 24px;
    border: 1px solid var(--preto);
    width: 307px;


    font-family: var(--fonte-texto);
}


.input-item::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
}


.button-item {
    padding: 12px 16px;
    border-radius: 24px;
    background-color: var(--cor-primaria);
    color: var(--neutro);
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


.item-lista-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 0px; /* espaço reservado para o botão */
  gap: 8px;
}


.botao-excluir {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  color: #dc3545;
  font-size: 1.2rem;
}


x ul {
    list-style-type: none;
}


li {
    list-style-type: none;
}


.input-checkbox {
    display: none;
}


.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: var(--neutro);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 4px;
}


.checked {
    background-color: var(--preto);
    position: relative;
}


.checkbox-customizado.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;


    border-top: 2px solid var(--neutro);
    border-left: 2px solid var(--neutro);


    transform: rotate(-140deg);
}


.texto-data {
    font-size: 12px;
    line-height: 20px;
}


.item-lista-button {
    border: none;
    background-color: transparent;
}


.titulo-container-lista {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 130px;
}

.container-lista {
    width: 400px;
    align-items: center;
}

.imagem {
    width: 300px;
    border: 4px solid #ffffff;
    border-radius: 10px;
  }

.title{
    align-items: center;
}

.mensagem-vazia{
    text-align: center;
}
